<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% if @title %><%= @title %><% else %>Admin<% end %></title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body>
    <div class="flex">
      <aside class="h-screen px-2 py-4 overflow-y-auto text-black bg-white border-r border-black shrink-0 w-80">
        <% @settings.each_with_index do |setting, i| %>
          <div
            class="flex flex-col mb-2 group"
            x-data="{ open: true, toggle() {
              this.open = !this.open;
              this.$nextTick(() => {
                this.$refs.content.style.height = this.open ? this.$refs.content.scrollHeight + 'px' : '0px';
              })
            }}"
          >
            <button
              type="button"
              aria-label="Toggle expansion"
              class="flex items-center justify-between px-4 py-2 text-left rounded cursor-pointer hover:bg-blue-100"
              @click="toggle()"
            >
              <span><%= setting[:name] %></span>
              <span class="transition-transform duration-200 transform rotate-0 icon group-has-aria-hidden:-rotate-90">expand_more</span>
            </button>

            <div
              x-ref="content"
              class="flex flex-col overflow-hidden transition-[height]"
              x-bind:style="open ? 'height: ' + $refs.content.scrollHeight + 'px' : 'height: 0px'"
              x-bind:aria-hidden="!open"
            >
              <% setting[:items].each do |item| %>
                <a
                  class="px-8 py-2 transition-colors rounded hover:bg-blue-100"
                  href="<%= "/admin/#{setting[:slug]}/#{item.slug}" %>"
                ><%= item.name %></a>
              <% end %>
            </div>
          </div>
        <% end %>
      </aside>

      <main class="flex-1 h-screen overflow-auto">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
