<div class="flex flex-col gap-2">
  <label for="<%= field.name %>">
    <%= field.name %>
    <% if field.required %>
      <span class="text-red-600">*</span>
    <% end %>
  </label>
  <div class="px-4 py-4 border border-black">
    <input
      type="file"
      name="<%= field.name %>"
      id="<%= field.name %>"
      accept="image/*"
      @change="handleFileUpload($event, '<%= field.name %>')"
    >
    <input
      type="checkbox"
      name="<%= field.name %>__replaced"
      id="<%= field.name %>__replaced"
      x-model="replacedFiles.has('<%= field.name %>')"
      class="hidden"
    >
    <template x-if="filePreviews['<%= field.name %>']">
      <div class="relative p-2 mt-2 border">
        <img :src="filePreviews['<%= field.name %>'].preview" class="w-auto h-20">
        <p x-text="filePreviews['<%= field.name %>'].name"></p>
        <p x-text="filePreviews['<%= field.name %>'].size"></p>
        <p x-text="filePreviews['<%= field.name %>'].dimensions"></p>
        <button type="button" @click="removeFile('<%= field.name %>')" class="icon">delete</button>
      </div>
    </template>
  </div>
</div>
