<div class="flex items-center gap-2">
  <input
    type="checkbox"
    name="<%= field.name %>"
    id="<%= field.name %>"
    class="border border-black"
    <%= value == 1 ? "checked" : "" %>
  >
  <label for="<%= field.name %>"><%= field.name %></label>
</div>
