<div class="flex flex-col gap-2">
  <label for="<%= field.name %>">
    <%= field.name %>
    <% if field.required && mode != :edit %>
      <span class="text-red-600">*</span>
    <% end %>
  </label>
  <input
    type="password"
    name="<%= field.name %>"
    id="<%= field.name %>"
    class="px-2 py-1 border border-black"
    <%= field.required && mode != :edit ? "required" : "" %>
    <%= mode == :edit ? 'placeholder="Update password"' : "" %>
  >
</div>
